/* rgb(243, 243, 243) cor de fundo */
/* lightgray cor da borda */
/* #0095f6 cor do botão */
/* rgb(160, 160, 160) */
*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
}
body{
    background-color: rgb(243, 243, 243);
}
img{
    max-width: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(160, 160, 160);
    height: 100vh;
}

main section:first-child{
    width: 50%;
}

main section:last-child{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

main section:last-child form{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.group{
    background-color: #fff;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px 0;
    border: 1px solid lightgray;
}
main section:last-child form input{
    width: 70%;
    margin: 0 auto;
    padding: 7px 0 7px 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    border: none;
    border: 1px solid rgb(160, 160, 160);
    margin-bottom: 10px;
    border-radius: 3px;
}
main section:last-child form input[type="submit"]{
    width: 71%;
    color: #fff;
    background-color: #0095f6;
    border: 2px solid #0095f6;
    cursor: pointer;
}

.barra{
    width: 100%;
    float: left;
}
.barra p{
    float: left;
    margin: -10px 0 0 40px;
}
.barra span{
    border-bottom: 1px solid rgb(160, 160, 160);
    margin-left: 20px;
    width: 35%;
    float: left;
}
.barra span:last-child{
    margin-left: 0;
    margin-right: 20px;
    float: right;
}

.entrar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.entrar a i{
    font-size: 2rem;
    color: #551a8b;
    vertical-align: middle;
    margin-right: 5px;
}
.entrar a{
    text-decoration: none;
}

.group:nth-of-type(2) p {
    padding: 10px;
    color: #111;
}
.group:nth-of-type(2) p a{
   text-decoration: none;
   color: #0095f6;
}

.download-app{
    display: flex;
    width: 50%;
    justify-content: center;
}
h4{
    color: #111;
    text-align: center;
    margin-bottom: 10px;
}
.download-app img{
    max-width: 150px;
    margin-right: 20px;
    cursor: pointer;
}
.download-app img:last-child{
    margin-right: 0;
}


@media (min-width: 700px) and (max-width: 1024px){
    main section:first-child{
        width: 40%;
    }
    
    main section:last-child{
        width: 60%;
    }
}

@media (max-width: 699.9px){
    main section:first-child{
        display: none;
    }   
    main section:last-child{
        width: 400px;
    }
    body{
        background-color: #fff;
    }
    .group{
        border: none;
    }
    .barra p{
        margin-left: 20px;
    }
}